<!DOCTYPE html>
<html>
<body>

<h2>HTML Forms</h2>

<form action="/save"  method="post">
   Name:<br>
  <input type="text" name="name" value="" required>
  <br>
  Password:<br>
  <input type="password" name="password" value="" required> 
<br>  Phone No.:
<br>
  <input type="text" name="Phone" value="">
<br>  Email:
<br>
  <input type="email" name="email" value="">
  <br>Username:
  <br>
  <input type="text" name="username" value="" required>

  <br><br>
  <input type="submit" id="but"  value="Submit">
</form> 


</body>
</html>
